/* awards */
.awards {
  margin-top: 3rem;
}

.awardsInformation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.awardsInformation img {
  filter: brightness(0) invert(1);
  width: 9rem;
  height: auto;
}

.award {
  display: flex;
  max-width: 17rem;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.award p {
  font-size: 1.3rem;
  margin: 0;
}

/* Team */
.team {
  margin: 3rem auto;
}

.teamHeader {
  text-align: center;
}

.teamMembers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.aidan,
.brody,
.austin {
  background-color: #253049;
  border: 1px solid #0f172a;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #15514a;
}

.teamMembers img {
  border-radius: 5px;
  width: auto;
  height: 14rem;
  object-fit: cover;
}

.teamMembers h3 {
  font-size: 1.6rem;
  margin: 0;
}

.teamMembers p {
  margin: 0;
}
