#label {
  margin: 2rem;
  text-align: center;
}

.checkoutCartItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkoutCartItems h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  min-height: 4rem;
  text-align: center;
  width: auto;
}

.checkoutCartItems p {
  margin-top: 1rem;
  color: #ffffff;
}

.checkoutCartItems img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.checkoutCartItem {
  width: 250px;
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  border: 4px solid transparent;
  border-radius: 20px;
  background: #253049;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  position: relative;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}

.checkoutCartTotal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.checkoutCartButton {
  margin-left: 1rem;
  background-image: linear-gradient(rgb(58, 213, 154), rgb(24, 121, 132));
  color: #fff;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.checkoutCartButton a {
  text-decoration: none;
  color: #fff;
}

.delete-item {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  margin: 0;
}

.delete-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.delete-item i {
  font-size: 1.2rem;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.quantity-controls button {
  background: #1a243b;
  color: white;
  border: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-controls button:hover {
  opacity: 0.8;
}

.quantity {
  color: white;
  font-size: 1rem;
  min-width: 20px;
  text-align: center;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  color: #fff;
}

.empty-cart h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
