.supportLink {
  color: rgb(58, 213, 154);
}

/* =========== Accordion =========== */
.accordion {
  font-family: Arial, sans-serif;
  border: 2px solid #15514a;
}

.accordion-item {
  border-bottom: 1px solid #15514a;
}

.accordion-header {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #1a243b;
  color: white;
  border: none;
  text-align: left;
  outline: none;
  width: 100%;
}

.accordion p {
}

.accordion-content {
  display: none;
  padding: 0.5rem;
  background-color: #253049;
  color: white;
}

.accordion-header.active + .accordion-content {
  display: block;
}

.accordionIcon {
  float: right;
  color: rgb(58, 213, 154);
}
/* =============================== */
