/* body main {
  max-width: 80ch;
  margin: 0 auto;
} */

.supportLink {
  color: rgb(58, 213, 154);
}

/* =========== Accordion =========== */
.accordion {
  margin: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid #15514a;
}

.accordion-item {
  border-bottom: 1px solid #15514a;
}

.accordion-header {
  cursor: pointer;
  padding: 15px;
  background-color: #1a243b;
  color: white;
  font-weight: bold;
  border: none;
  text-align: left;
  outline: none;
  width: 100%;
}

.accordion-content {
  display: none;
  padding: 15px;
  background-color: #1a243b;
  color: white;
}

.accordion-header.active + .accordion-content {
  display: block;
}

.accordionIcon {
  float: right;
  color: rgb(58, 213, 154);
  font-size: 1rem;
}
/* =============================== */
