.gameHeader h1 {
  text-align: center;
}

.twoGames {
  background-color: #1a243b;
  display: flex;

  justify-content: center;
}

.gameImage {
  width: 80%;
  max-width: 30rem;
  height: auto;
  margin: 0 auto;
}

.about,
.description {
  background-image: linear-gradient(rgb(58, 213, 154), rgb(24, 121, 132));
  color: transparent;
  background-clip: text;
  font-size: 2rem;
}

.requirements {
  font-weight: bold;
  background-image: linear-gradient(rgb(58, 213, 154), rgb(24, 121, 132));
  color: transparent;
  background-clip: text;
}

.gameOne,
.gameTwo {
  max-width: 80ch;
  background-color: #253049;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #15514a;
  border-radius: 20px;
}

.gameOne h2,
.gameTwo h2 {
  font-size: 2.2rem;
}

.gameGallery img, .gameGallery img {
  transition: 0.25s ease;
  cursor: pointer;
}

.gameGallery img:hover, .gameGallery img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.screenshot {
  width: 10rem;
  height: auto;
  margin: 0.2rem;
}

@media (max-width: 1024px) {
  .twoGames {
    flex-direction: column;
    align-items: center;
  }
  .gameOne,
  .gameTwo {
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
