body main {
  max-width: none;
}

.details h3 {
  font-size: 1.5rem;
  min-height: 3.5rem;
}

.GameSelectText {
  text-align: center;
}

.GameSelectText p {
  font-size: 1.5rem;
}

.gameSelect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}

.item {
  margin: 1rem;
  max-width: 33rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #253049;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.details img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttons button {
  background-image: linear-gradient(rgb(58, 213, 154), rgb(24, 121, 132));
  color: #fff;
  border-radius: 10px;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.05);
}
